name: CD
permissions:
  id-token: write
  pages: write
  contents: read
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:

  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4   # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: oven-sh/setup-bun@v2  # Official setup-bun action (https://bun.com/docs/guides/runtime/cicd)

      - run: bun install
      - run: bun run build

      - uses: actions/upload-pages-artifact@v3
        with:
          path: dist/

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
